html {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
}

code {
  text-align: center;
  background: #101010;
  color: #dddddd;
}

.code {
  background: #101010;
  color: #dddddd;
  border: 10px solid #101010;
  border-radius: 10px;
  font-family: monospace;
  margin: 0px 150px 0px 150px;
  text-align: left;
}

.container {
  background-color: #303030;
  border-radius: 10px;
}

.example {
  margin: 0px 150px;
  border-radius: 10px;
  background-color: #404040;
}

.jumbotron {
  color: white;
  text-align: center;
  background-color: #101010;
}

body {
  color: white;
  text-align: center;
  background-color: #202020;
}

ul, ol {
  margin: 0px 50px;
}