html {
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

code {
  text-align: center;
  background: #101010;
  color: #dddddd;
}

.container {
  background-color: #303030;
}

.example {
  margin: 0px 200px 0px 200px;
  background-color: #404040;
}

.jumbotron {
  color: white;
  text-align: center;
  background-color: #101010;
}

body {
  color: white;
  text-align: center;
  background-color: #202020;
}