html {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
}

#MainTitle {
  font-size: 250%;
}

.facts {
  background-color: #101010;
  margin: 0px 150px 0px 150px;
}

.jumbotron {
  text-align: center;
  color: white;
  background-color: #101010;
}

body {
  text-align: center;
  color: white;
  background-color: #202020;
}