html {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
}

.facts {
  background-color: #101010;
  margin: 0px 150px 0px 150px;
}

.jumbotron {
  text-align: center;
  color: white;
  background-color: #101010;
}

body {
  text-align: center;
  color: white;
  background-color: #202020;
}

/* CSS for Non-Main Pages */

.cert {
  border-radius: 12px;
  width: 200px;
}

code {
  background-color: #101010;
  border: 5px solid #101010;
  color: white;
}